<h2>Edit Fishtank</h2>

<form action="/fishtanks/<%= @fishtank.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <p>Name: <input type="text" name="name" value="<%= @fishtank.name %>" required ></p>
  <p>Gallons: <input type="number" name="gallons" value="<%= @fishtank.gallons %>" required></p>
  
  <input type="submit" value="Update">
</form>
<br>
<form action='/fishtanks/<%= @fishtank.id %>/delete' method="POST">
  <input type="hidden" id="hidden" name="hidden" value="DELETE">
  <input type="submit" value="Delete Fishtank">
</form><br>
