<h2>Create a new fishtank!</h2>

<form action="/new_fishtank" method="POST">
  <p><input type="text" name="name" placeholder="name" required></p>
  <p><input type="number" name="gallons" placeholder="gallons" required></p>
  
  <input type="submit" value="Create Fishtank">
</form>