<h2>Create a new fishtank!</h2>

<form action="/new_fishtank" method="POST">
  <p><input type="text" name="name" placeholder="name"></p>
  <p><input type="number" name="fish_capacity" placeholder="fish_capacity"></p>
  
  <input type="submit" value="Create Fishtank">
</form>