<h2><%= @fishtank.name %></h2>
<h4>Fish Capacity: <%= @fishtank.fish_capacity %></h4>

<p>Fish:</p>
    
    

<a href="/fishtanks/edit">Edit Fishtank</a>
<a href='/users/<%= @current_user.slug %>'>Profile</a>
<a href='/'>Home</a>