<h1>Welcome back to Aquarium Manager!</h1>
<h3>Log In:</h3>

<form action="/login" method="POST">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="password" name="password" placeholder="password"></p>
 
  <input type="submit" value="Log In">
</form>