<h1>Welcome back to CrazyFish!</h1>
<h3>Log In:</h3>

<form action="/login" method="POST">
  <p><input type="email" name="email" placeholder="email" required></p>
  <p><input type="password" name="password" placeholder="password" required></p>
 
  <button class="btn btn-primary" type="submit">Log In</button>
</form>