<h2><%= @user.username %>'s Fishtanks</h2>
<br>

  <% @user.fishtanks.each do |f| %>
    <ul>
      <li>
        <h4><a href="/fishtanks/<%= f.id %>"><%= f.name %></a></h4>
      </li>
    </ul>
  <% end %>
