<h1>Start managing your aquarium today!</h1>
<h2>Sign Up:</h2>


<form action="/signup" method="POST">
  <p><input type="text" name="username" placeholder="username"></p>
  <p><input type="text" name="email" placeholder="email"></p>
  <p><input type="password" name="password" placeholder="password"></p>
 
  <input type="submit" value="Sign Up">
</form>