<h1>Start managing your aquarium today!</h1>
<h2>Sign Up:</h2>


<form action="/signup" method="POST">
  <p><input type="text" name="username" placeholder="username" required></p>
  <p><input type="email" name="email" placeholder="email" required></p>
  <p><input type="password" name="password" placeholder="password" required></p>
 
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>