<nav>
  
  <% if logged_in? %>
  
    <div>
      <h3>Welcome, Current User</h3> #This would display the current user logged_in
      <a href="/profile">Profile</a>
      <a href="/logout">Log Out</a>
    </div>
    
  <% else %>
  
    <div>
      <h3>Welcome to Aquarium Manager!</h3>
      <h4>Please login or signup </h4>
      
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
    
  <% end %>
  
  
</nav>