<nav>
  
  <% if logged_in? %>
  
    <div>
      <h3>Welcome, <%= @current_user.username %></h3> <!--This would display the current user logged_in-->
    </div>
    
  <% else %>
  
    <div>
      <h1>Welcome to CrazyFish!</h1>
      <h3>All your fish and fish friends in one easy app!</h3>
    </div>
    
  <% end %>
  
  
</nav>