<nav>
  
  <% if logged_in? %>
  
    <div>
      <h1>Aquarium Manager</h1>
      <h3>Welcome, <%= @current_user.username %></h3> <!--This would display the current user logged_in-->
      <a href="/profile/<%= @user.slug %>">Profile</a>
      <a href="/logout">Log Out</a>
    </div>
    
  <% else %>
  
    <div>
      <h1>Welcome to Aquarium Manager!</h1>
      <h4>Please login or signup </h4>
      
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </div>
    
  <% end %>
  
  
</nav>