<!doctype html>
<html>
  <head>
    <title>Fish Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Fish Management System</h1>
    <%= yield %>
  </body>
</html>