<!doctype html>
<html>
  <head>
    <title>Aquarium Manager</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    
    <div class="container">
      <br>
      <% if !!flash[:message] %>
        <% flash[:message].each do |m| %>
          <div class="flash <%= m.last %>">
            <%= m.first %>
          </div>
        <% end %>
        <% flash[:message].clear %>
      <% end %>
      <br>
      <%= yield %>
      
    </div>
    
  </body>
</html>